body {
    display:  grid;
    background-color: rgba(245, 243, 243, 0.589);
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    padding: 5px;
    margin:1px;
    /* border:2px solid #c53333; */
    font-family: Roboto;
    color:rgb(9, 31, 238)

  }
  .image{
    background-color: rgb(143, 152, 190);  
    grid-row:1;
    grid-column:1;
    align-items: center;
    /* border:2px solid red; */
  }
  .Name{
    display:flex;
    align-items: center;
    justify-content:left;
    background-color: rgb(143, 152, 190);   
    /* border:2px solid red; */
    font-size: 40pt;
    font-variant: small-caps;
    grid-row:1;
    grid-column:2/3;
  }
.area{
    display:flex;
    flex-direction: column;
    background-color:darkgrey
    /* border:3px solid rgb(113, 192, 188);  */
  }
.title{
    /* border:3px solid rgb(113, 192, 188); */
    background-color: #c53333;
    font-size:20pt;
    text-align: center;
    font-weight:bolder;
}
.last-child{
    grid-column-end: auto;
}
